@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
}

nav .wrapper {
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #eee;
}

.arrow-icon {
    padding-top: 2px;
}

.img-bg {
    background-color: black;
    width: 500px;
    height: 645px
}

.main {
    display: flex;
}

.img1 {
    height: 450px;
    position: absolute;
    right: 100px;
    top: 0px;
    border-radius: 10px;
    height: 557px;
    width: 542px;
}

.img2 {
    position: absolute;
    right: 10px;
    top: 0px
}

.btn-wrapper {
    text-align: center;
    padding: 15px;
}

.book-demo-btn {
    padding: 7px 20px;
    background-color: #505ECE;
    border: none;
    color: white;
    height: 42px;
    border-radius: 4px;
}

.main-wrapper {
    position: absolute;
    top: 88px;
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -2px;
}

.header-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.help-btn {
    background-color: #505ECE;
    width: 250px;
    border-radius: 4px;
    padding: 16px 24px 16px 24px;
    color: white;
    border: none
}

.second-page {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    padding: 90px 0px
}

.col {
    padding: 70px 20px !important;
    display: flex;
}

.icns {
    font-size: 30px;
    padding: 15px 10px;
}

.wave-icon {
    color: #505ECE
}

.trophy-icon {
    color: #FF5A5F
}

.db-icon {
    color: #307388
}

.third-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 700px;
    /* border:2px solid red */
}

.third-page h1 {
    padding-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: center;
}

.card-container {
    position: relative;
    width: 900px;
    height: 1000px
}

.card1,
.card2 {
    padding: 20px;
    width: 100%
}

.card1 {
    border-radius: 20px;
    display: flex;
    z-index: 9999;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
}

.gartner {
    height: 80px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #307388;
    color: white;
    border-radius: 10px;
}

.card1-content {
    padding: 0px 40px;
}

.card1-content h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
}

.card1-content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}

.card1-content button {
    background-color: #505ECE;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 10px 30px;
}

.card2 {
    background-color: #EFF4F9;
    position: absolute;
    top: 280px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.user-img {
    width: 400px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-img img {
    height: 70px;
    width: 70px;
}

.user-img h6 {
    font-size: 15px !important;
    margin: 0%;
    margin-top: 10px;
    padding: 0%;
}

.user-img p {
    font-size: 14px;
    margin: 0%;
    padding: 0%;
}

.card2-content {
    font-size: 14px;
    margin: 40px;
    line-height: 30px;
}

.footer {
    padding: 40px 120px !important
}

.footer-text h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1px;
    text-align: left;

}

.footer-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;

}

.footer-text button {
    padding: 7px 20px;
    background-color: #505ECE;
    border: none;
    color: white;
    height: 42px;
    border-radius: 4px;
}

.footer-img {
    position: relative;
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #505ECE;
    position: absolute;
    top: 10%;
    right: 40%
}

.footer-img img {
    width: 100%;
    padding: 0;
    margin: 0%;

}

.middle-page-container {
    width: 1100px !important;
    padding-bottom: 150px;

}

.middle-page-container h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: center;
    padding: 30px;
}

.accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.item {
    display: flex;
    background-color: #505ECE;
    color: white;
}

.item.show-item {
    background-color: #2C233D;

}

.accord-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 70px;
}

.accord-img img {
    background-color: #2C233D;
    width: 550px;
    height: 450px
}

.content {
    max-height: 0;
    overflow: hidden;
    width: 100%;
}

.content.show {
    height: auto;
    max-height: 9999px;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.accord-img {
    display: none;
    position: relative;
    overflow: hidden;
    width: 100% !important;
}

.content button {
    padding: 7px 20px;
    background-color: #2C233D;
    border: 1px solid white;
    color: white;
    height: 42px;
    border-radius: 4px;
}

.accord-img.show-img {
    display: block;
    /* border:2px solid red; */
    /* display: flex; */
}

.card-stack {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden !important;
    padding: 30px;
}

.crd1 {
    background-color: #FFFFFF;
    width: 300px;
    border-radius: 15px;
    color: black;
    display: flex;
    padding: 20px;
    margin: 10px;
}

.vector-logo {
    height: 45px;
    width: 50px;
    background-color: #FF5A5F;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.vector-logo img {
    width: 25px;
    height: 25px;
    /* border:2px solid red; */
    /* margin: auto; */
}

.crd1-content h6 {
    /* font-family: Objectivity; */
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.5px;
    text-align: left;

}

.crd1-content p {
    /* font-family: Objectivity; */
    font-size: 12px;
    font-weight: 200;
    line-height: 16px;
    letter-spacing: -0.5px;
    text-align: left;

}

.crd1-content button {
    background-color: #42AF8F;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
}

.crd2 {
    opacity: .7;
}

.crd3 {
    opacity: .3;
}

.vector-logo2 {
    height: 45px;
    width: 50px;
    background-color: #D5DBE9;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}

.crd2-content h6 {
    background-color: #EFF4F9;
    border-radius: 20px;
    width: 200px;
    padding: 7px;
    height: 30px
}

.crd2-content p {
    background-color: #EFF4F9;
    border-radius: 20px;
    width: 100px;
    padding: 7px;
    height: 25px
}

.crd2-content button {
    background-color: #EFF4F9;
    border: none;
    color: #D5DBE9
}

.vector-logo3 {
    height: 45px;
    width: 50px;
    background-color: #D5DBE9;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}

.middle {
    height: 60px;
    width: 65px;
    background-color: #FF5A5F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vectorlogo {
    height: 45px !important;
    width: 50px !important;
    border: 2px solid red
}

.fifth-page-wrapper {
    height: 1000px;
    background-color: #1C122E;
    width: 100%;
    overflow: hidden;
    margin-top:50px ;
}

.fifth-page-wrapper h4 {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: center;
    color: white;
    padding-top: 80px
}

.fifth-page-wrapper p {
    color: white;
    font-weight: 200;
    text-align: center;

}
.fifth-page-wrapper button{
    border:2px solid blue
}
.cl {
    color: wheat;
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardd {
    height: 250px;
    width: 400px;
    background-color: #2C233D;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}
.cardd img{
    margin-bottom: 10px;
}
.cardd .text-header{
    font-size: 20px !important;
    text-align: start;
    margin-bottom: 5px;
    font-weight: 500;

}
.cardd .text-content{
    text-align: start;
}
.helpp-btn{
    /* border:2px solid red; */
    width:100%;
    text-align: center;
    padding:20px
}
.helpp-btn button{
    border: none;
    padding:7px 20px;
    color:white;
    background-color: #505ECE;
    border-radius: 7px;
}
.logo-img{
    height:50px;
    width:50px;
    background-color: #FF5A5F;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img img{
    width:35px;
    height:35px
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.small-cont{
    backdrop-filter: blur(20px);
    height:100px;
    width:500px;
    font-size: 30px;
    z-index: 99;
    background-color: rgba(255, 255, 255, .15); 
    /* background-color: #42AF8F; */
    position: absolute;
    top:400px;
    right:120px;
    border-radius: 5px;
}

.main-column{
    /* border:2px solid white; */
    height:100%;
    display: flex;align-items: center;
    padding: 40px 20px;
    color:white

}
.icn{
    background-color: #2C233D;
    background-color: rgba(255, 255, 255, .15); 
    height:60px;
    width:80px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icn img{
    height:30px !important;
    width:30px !important
}
.column button{
    font-size: 13px;
    padding:5px;
    background-color: #505ECE;
    color:white;
    border:none;
    border-radius: 2px;
}